.novel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  // Book

  .book {
    z-index: 1;
    perspective: 3000px;
    position: relative;
    display: block;
    width: 400px;
    height: 550px;
    border-radius: 2px 4px 4px 2px;
    background: linear-gradient(45deg, #dad5dc 0%, #f2ebf4 100%);
    -webkit-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
    -moz-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
    box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
    font-weight: 400;
    color: #2b2b2b;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
  }

  @media (max-width: 400px) {
    .book {
      width: 290px;
      height: 400px;
    }
  }

  .book:hover {
    -webkit-transform: rotate3d(0, 1, 0, 35deg);
    -moz-transform: rotate3d(0, 1, 0, 35deg);
    transform: rotate3d(0, 1, 0, 35deg);
  }

  .book > div,
  .book__front > div {
    display: block;
    position: absolute;
  }

  .book__front {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 20px);
    -moz-transform: translate3d(0, 0, 20px);
    transform: translate3d(0, 0, 20px);
    z-index: 10;

    div {
      width: 400px;
      height: 550px;
      border-radius: 0 3px 3px 0;
      box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
    }

    @media (max-width: 400px) {
      div {
        width: 290px;
        height: 400px;
      }
    }
  }

  .book__front:after {
    content: "";
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: -1px;
    width: 1px;
  }

  .book__cover {
    background: linear-gradient(45deg, #dad5dc 0%, #f2ebf4 100%);
    background-image: url("./../images/anastasia.webp");
    background-size: cover;
    position: relative;

    .book__author,
    .book__name {
      width: 100%;
      text-align: center;
      position: absolute;
      color: white;
    }

    .book__author {
      top: 10px;
      font-size: 1.5625rem;
      font-family: "Eurofurence";
    }
    .book__name {
      top: 65%;
      font-size: 3rem;
      text-shadow: 2px 2px 2px rgb(0, 0, 0);
      font-family: "AwakeTheBeauty";
    }
  }

  .book__cover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 3px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
  }

  h2 {
    width: 500px;
    height: 40px;
    color: white;
    font-size: 15px;
    line-height: 40px;
    padding-right: 10px;
    text-align: right;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg) translateY(-40px);
    -moz-transform: rotate(90deg) translateY(-40px);
    transform: rotate(90deg) translateY(-40px);
  }

  .book__left-side {
    width: 40px;
    left: -20px;
    height: 550px;
    background-color: #252530;
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
    -moz-transform: rotate3d(0, 1, 0, -90deg);
    transform: rotate3d(0, 1, 0, -90deg);

    @media (max-width: 400px) {
      height: 400px;
    }

    span {
      font-family: auto;
    }

    h2 span:first-child {
      font-weight: 400;
      font-size: 13px;
      padding-right: 20px;
    }

    @media (max-width: 400px) {
      h2 span {
        padding-right: 70px;
      }
    }
  }

  .book__description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      line-height: 1.5rem;
      text-align: center;

      @media (min-width: 950px) {
        padding: 20px;
      }
    }
  }

  .book__button {
    margin-top: 5%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 250px;
    padding: 12px 23px;
    border: 1px solid #92030a;
    border-radius: 8px;
    background: #92030a;
    -webkit-box-shadow: #000000 3px 4px 9px 2px;
    -moz-box-shadow: #000000 3px 4px 9px 2px;
    box-shadow: #000000 3px 4px 9px 2px;
    text-shadow: #380407 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;

    &:hover,
    &:focus {
      border: 1px solid white;
      background: #af040c;
      color: #ffffff;
      text-decoration: none;
    }

    svg {
      width: 30px;
      fill: white;
    }
  }
}
