/* Fonts */

@font-face {
  font-family: "AwakeTheBeauty";
  src: url(./assets/fonts/AwakeTheBeauty.ttf) format("truetype");
}

@font-face {
  font-family: "Eurofurence";
  src: url(./assets/fonts/eurofurence/eurof55.ttf) format("truetype");
}

img {
  max-width: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

$menu-width: 30%;
$scene-width: 90%;
$scene-height: 500px;

$sections: indifference, polyamour, feminisme, orientation, delivrance;

$colors: (
  indifference: #d64541,
  polyamour: #f5d76e,
  feminisme: #00b16a,
  orientation: #f27935,
  delivrance: #bb55cf,
  white: #fff,
  gray: #eee,
  red: #92030a,
);

@function get-color($color-name) {
  @if map-has-key($colors, $color-name) {
    @return map-get($colors, $color-name);
  } @else {
    @warn "This color key doesn't exist.";
  }
}

@keyframes slidein {
  0% {
    top: -$scene-height;
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: -$scene-height;
    opacity: 0;
  }
}

body {
  background: get-color(gray);
  font-family: "Eurofurence", sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.125rem;
  height: 100vh;
  overflow-x: hidden;
}

header,
section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;

  h1,
  span {
    font-family: "AwakeTheBeauty";
  }
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  justify-content: flex-start;
  align-items: center;

  .header__background {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    z-index: -1;
  }

  .header__title {
    font-size: 3.125rem;
    color: wheat;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    padding: 10px;
  }
  .header__subtitle {
    font-size: 2.1875rem;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px wheat;
  }
}

/* Section 1 */

.novel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  // Book

  .book {
    z-index: 1;
    perspective: 3000px;
    position: relative;
    display: block;
    width: 400px;
    height: 550px;
    border-radius: 2px 4px 4px 2px;
    background: linear-gradient(45deg, #dad5dc 0%, #f2ebf4 100%);
    -webkit-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
    -moz-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
    box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
    font-weight: 400;
    color: #2b2b2b;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
  }

  @media (max-width: 400px) {
    .book {
      width: 300px;
      height: 450px;
    }
  }

  .book:hover {
    -webkit-transform: rotate3d(0, 1, 0, 35deg);
    -moz-transform: rotate3d(0, 1, 0, 35deg);
    transform: rotate3d(0, 1, 0, 35deg);
  }

  .book > div,
  .book__front > div {
    display: block;
    position: absolute;
  }

  .book__front {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 20px);
    -moz-transform: translate3d(0, 0, 20px);
    transform: translate3d(0, 0, 20px);
    z-index: 10;

    div {
      width: 400px;
      height: 550px;
      border-radius: 0 3px 3px 0;
      box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
    }

    @media (max-width: 400px) {
      div {
        width: 300px;
        height: 450px;
      }
    }
  }
  .book__front:after {
    content: "";
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: -1px;
    width: 1px;
  }

  .book__cover {
    background: linear-gradient(45deg, #dad5dc 0%, #f2ebf4 100%);
    background-image: url("./assets/images/anastasia.webp");
    background-size: cover;
    position: relative;

    .book__author,
    .book__name {
      width: 100%;
      text-align: center;
      position: absolute;
      color: white;
    }

    .book__author {
      top: 10px;
      font-size: 1.5625rem;
      font-family: "Eurofurence";
    }
    .book__name {
      top: 65%;
      font-size: 3rem;
      text-shadow: 2px 2px 2px rgb(0, 0, 0);
      font-family: "AwakeTheBeauty";
    }
  }

  .book__cover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 3px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
  }

  h2 {
    width: 500px;
    height: 40px;
    color: #2b2b2b;
    font-size: 15px;
    line-height: 40px;
    padding-right: 10px;
    text-align: right;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg) translateY(-40px);
    -moz-transform: rotate(90deg) translateY(-40px);
    transform: rotate(90deg) translateY(-40px);
  }

  .book__left-side {
    width: 40px;
    left: -20px;
    height: 550px;
    background-color: rgba(232, 229, 234);
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
    -moz-transform: rotate3d(0, 1, 0, -90deg);
    transform: rotate3d(0, 1, 0, -90deg);

    @media (max-width: 400px) {
      height: 450px;
    }

    span {
      font-family: auto;
    }

    h2 span:first-child {
      font-weight: 400;
      font-size: 13px;
      padding-right: 20px;
    }

    @media (max-width: 400px) {
      h2 span {
        padding-right: 70px;
      }
    }
  }
  .book__description {
    padding: 20px;

    p {
      font-size: 1.5625rem;
      line-height: 2rem;

      @media (min-width: 950px) {
        padding: 30px;
      }
    }
  }
}

/* Section 2 */

.themes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .themes__catchphrase {
    font-size: 1.5625rem;
    text-align: center;
  }
}

// Scene

.scene {
  display: flex;
  align-items: center;
  justify-content: left;
  width: $scene-width;
  height: $scene-height;
  position: relative;
  background-color: get-color(white);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;

  .scene__left-zone {
    background: get-color(white);
    height: 75%;
    flex-grow: 0;
    display: flex;
    width: $menu-width;
    align-items: center;
    justify-content: left;

    .list {
      display: flex;
      list-style: none;

      align-content: stretch;
      flex-direction: column;
      flex-grow: 1;

      margin: 0;
      padding: 0;

      li.list__item {
        h2 {
          color: get-color(red);
        }

        input[type="radio"] {
          display: none;

          & ~ label {
            display: block;
            opacity: 0.5;
            height: 50px;
            text-align: center;
            line-height: 50px;
            font-weight: 900;

            &:first-letter {
              text-transform: uppercase;
            }

            &:hover {
              opacity: 0.75;
              cursor: pointer;
            }

            @each $item in $sections {
              &.label_#{$item} {
                &:before {
                  content: " ";
                  display: block;
                  position: absolute;
                  width: 50px;
                  height: 50px;
                  margin-left: 15px;
                  background-position: center;
                  background-size: 75% 75%;
                  background-repeat: no-repeat;
                }
              }
            }
          }

          & ~ .content {
            position: absolute;
            left: $menu-width;
            top: -$scene-height;
            width: $scene-width - $menu-width;
            height: $scene-height;

            animation-duration: 0.75s;
            animation-name: slideout;
            animation-timing-function: ease-out;

            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            @each $item in $sections {
              &.content_#{$item} {
                h1 {
                  color: get-color($item);
                }
              }
            }

            h1 {
              &:first-letter {
                text-transform: uppercase;
              }
            }
            p {
              max-width: 70%;
              text-align: center;
            }
          }

          &:checked {
            & ~ label {
              opacity: 1;
              animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);

              @each $item in $sections {
                &.label_#{$item} {
                  color: get-color($item);
                  border-right: solid 4px get-color($item);
                }
              }
            }

            & ~ .content {
              animation-duration: 0.75s;
              animation-name: slidein;
              animation-fill-mode: forwards;
              animation-timing-function: cubic-bezier(
                0.455,
                0.03,
                0.515,
                0.955
              );
            }
          }
        }
      }
    }
  }

  .scene__middle-border {
    background-color: get-color(gray);
    height: 75%;
    flex-grow: 1;
    max-width: 2px;
    z-index: 0;
  }

  .scene__right-zone {
    background: get-color(white);
    height: 100%;
    flex-grow: 3;
  }
}

/* Section 3 */

.novels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  h2 {
    text-align: center;
  }

  .novels__cards {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    width: 80%;
    .novels__card {
      cursor: pointer;
      min-width: 70%;
      margin-bottom: 10px;
      perspective: 600px;
      transition: all 0.1s;
      display: flex;
      flex-flow: row;
      align-items: center;
      .bottom {
        height: 0px;
        overflow: hidden;
        width: 150px;
        font-size: 12px;
        color: #777;
        font-weight: normal;
        @media (min-width: 800px) {
          width: 400px;
        }
      }
      &.open {
        padding: 30px;
        height: auto;
        .bottom {
          margin-top: 10px;
          height: 100%;
          overflow: visible;
        }
        .book {
          transform: rotateY(50deg);
          box-shadow: -10px 10px 10px 2px rgba(0, 0, 0, 0.2),
            -2px 0px 0px 0px #888;
          transition: all 0.5s;
          transition-delay: 0.05s;
        }
        .novels__info {
          transform: translate(0, -10px);
        }
      }
      button.simple {
        cursor: pointer;
        color: #ccc;
        border: none;
        outline: none;
        border-radius: 4px;
        background-color: #1ea94b;
        padding: 15px 20px;
        font-weight: bold;
        transition: all 0.1s;
        &:hover {
          box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.3);
          transform: translate(0, -2px);
        }
      }
      background-color: lighten(get-color(grey), 8%);
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      height: 90px;
      .book {
        transition: all 0.5s;
        width: 120px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
        overflow: hidden;
      }
      .novels__info {
        transition: all 0.2s;
        min-width: 200px;
        padding: 0px 30px;
        font-weight: bold;
        .novels__title {
          font-size: 1.2rem;
          letter-spacing: 1px;
          line-height: 1.875rem;
        }
        .novels__summary {
          font-size: 1rem;
        }
      }
    }
  }
}
